body {
    background: -webkit-linear-gradient(rgb(28, 28, 28), rgb(72, 72, 72), rgb(28, 28, 28), rgb(72, 72, 72));
    background-repeat: no-repeat;
    height: 98vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    
    
}

h1 {
    color: white;
}

img {
    width: 380px;
    padding-bottom: 100px;
}

button {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
}